---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About the author"
  description="whoami?"
  pubDate={new Date("December 13 2023")}
  heroImage="https://avatars.githubusercontent.com/u/37283437?v=4"
>
  <main class="min-h-screen">
    <a class="hover:text-blue-500" href="https://github.com/aaanh">Github</a>
    <a class="hover:text-blue-500" href="https://aaanh.com/">Homepage</a>
    <p>I have nothing else to say. I plead the 5th.</p>
  </main>
</Layout>
